<div class="card-header" style="background: #172C60;">
    <div class="row">
        <div class="col-lg-6">
            <b class="judul-atas-hr hijau" style="color: white; font-weight: 600; font-size: 14px">
               Pendaftaran Antrian
                <b class="judul-atas-hr hijau" style="color: white; font-weight: 600; font-size: 14px">
                   Pasien
                </b>
            </b>
        </div>
        <div class="col-lg-6" style="text-align: right" >
           
                
        </div>
    </div>
</div>