<nav class="navbar navbar-expand-lg navbar-light bg-light col-lg-12 col-12 p-0"
         style="justify-content:  space-between;">
         <a class="navbar-brand" href="">
         <img src="assets/emesys-logo.png" alt="logo"
            style="height: 38px;  margin-top: -5px; padding: 5px; padding-left: 20px; ">
         <span style="border-left: 1px solid rgb(85, 85, 85); margin-right: 5px"></span>
         <small style="font-size: 17px; color: rgb(85, 85, 85)">
         POLIKLINIK
         </small>
         </a>
         <h4 style="font-size: 13px; margin-top: 10px; padding-right: 15px">
            <a  href="#" style="
               border-right: 4px solid grey !important;
               border-top-right-radius: 0px !important;
               border-bottom-right-radius: 0px !important;
               display: inline;
               border-radius: 10px;
               padding: 3px 10px;
               background-color: #252c46;
               color: white;
               " class="pointer btn-header-special">
               <span class="fas fa-th-large" style="color: white"></span> MENU
         </a>
            <div style="
               border-top-left-radius: 0px !important;
               border-bottom-left-radius: 0px !important;
               margin-right: 10px;
               display: inline;
               border-radius: 10px;
               padding: 3px 10px;
               background-color: #252c46;
               color: white;
               " class="pointer btn-header-special">
               <i class="fa fa-circle" style="color: #26e435"></i> EMESYS
            </div>
            <a style="
               font-weight: 600;
               text-decoration: none;
               display: inline;
               border-radius: 10px;
               padding: 3px 10px;
               border: 1px solid red;
               color: red; 
               " href="#" class="btn-logout pointer"><span class="fas fa-sign-out-alt"></span> LOGOUT</a>
         </h4>
      </nav>